.brands {
  overflow: visible;
  @media (min-width: 768px) {
    // max-height: 170px;
    max-height: 0; /* Начальная высота (скрыто) */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}

.brands.folded {
  @media (min-width: 768px) {
    max-height: 160px; /* Высота свернутого блока, можно изменять для разных блоков */
  }
}

.brands.expanded {
  @media (min-width: 768px) {
    max-height: 500px; /* Высота развернутого блока */
  }
}
