.category-section {
  position: relative; /* Для позиционирования градиента поверх Swiper */
  margin-top: 24px;

  &__heading {
    border-top: solid 1px #d9fff5;
    background-image: linear-gradient(to right, #f8f8f8, #ffffff);
    padding: 16px;
    margin: 0 -16px;
    color: #7e7e82;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;

    img {
      max-width: 150px;
      height: auto;
    }

    @media (min-width: 768px) {
      margin-top: -16px;
    }
  }

  &__button-next {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    transition: opacity 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;

    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url(../img/button-next.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__gradient-overlay {
    position: absolute;
    top: 16px;
    right: -20px;
    width: 60px; /* Ширина градиентного слоя */
    height: 100%;
    pointer-events: none; /* Чтобы не перекрывать кликабельность */
    background: linear-gradient(
      to right,
      rgba(248, 248, 248, 0) 0%,
      rgba(248, 248, 248, 1) 100%
    );
    z-index: 1;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__button-show-all {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__pagination.swiper-pagination-horizontal {
    bottom: -14px;
  }
}
