@mixin opacity-transition($opacity: 0.6) {
  transition: opacity 0.3s ease;
  &:hover {
    opacity: $opacity;
  }
}

.header {
  height: 88px;
  border-bottom: 1px solid #d9fff5;
  display: flex;

  justify-content: space-between;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  &__left-block {
    display: flex;
    flex-grow: 1;

    @media (min-width: 768px) {
      flex-grow: 0;
    }
  }

  &__right-block {
    display: flex;
  }

  &__action-menu {
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin-right: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    @include opacity-transition(0.6);
  }

  &__contacts-button {
    display: flex;
    height: 40px;
    border-left: 2px solid #eaeaea;
    padding-left: 20px;
  }

  &__button {
    position: relative;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    @include opacity-transition(0.6);

    &--burger-open {
      @media (min-width: 768px) {
        margin-right: 20px;
      }
    }

    &::after {
      content: '';
      position: relative;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
    }

    &--burger-open::after {
      background-image: url(../img/burger.png);
      @media (min-width: 768px) {
        border-right: 2px solid #eaeaea;
        padding-right: 20px;
      }
    }

    &--request::after {
      background-image: url(../img/repair.png);
    }

    &--check-status {
      margin-left: 16px;
    }
    &--check-status::after {
      background-image: url(../img/checkstatus.png);
    }
  }
}
