.main {
  padding-top: 24px;
  background-color: #f8f8f8;
  overflow-x: hidden;

  @media (min-width: 1440px) {
    padding-top: 42px;
    transform: translateX(170px);
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    height: 40px;
    display: flex;
    align-items: center;

    &--active {
      position: relative;
      margin-left: -16px;
      padding-left: 16px;

      @media (min-width: 768px) {
        margin-left: -24px;
        padding-left: 24px;
      }

      @media (min-width: 1440px) {
        margin-left: -32px;
        padding-left: 32px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background-color: #41f6d7;
        border-radius: 0 3px 3px 0;
        left: 0;
      }
    }
  }
}
