.service-description {
  &__inner {
    max-height: 0; /* Скрыть контент по умолчанию */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &.folded {
      max-height: 80px; /* Высота свернутого блока */

      @media (min-width: 768px) {
        max-height: 20vw;
      }
    }

    &.expanded {
      max-height: 500px; /* Высота развернутого блока */
    }
  }

  &__text {
    margin-top: 24px;
  }

  &__img-wrapper {
    margin-top: 16px;
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 16px;

    & > * {
      flex: 1;
    }

    &__article-wrapper {
      padding-right: 16px;
    }
  }
}
