.swiper-wrapper {
  padding: 16px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  font-size: 24px;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  border-radius: 6px;
  padding: 16px;
  justify-content: space-between;
}

.swiper-pagination {
  position: static;

  &-bullet {
    background-color: #dddddd; // цвет по умолчанию
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 5px;
    transition: background-color 0.3s;

    &-active {
      background: #b5b6bc;
    }
  }
}

@media (min-width: 768px) {
  .swiper {
    max-height: 170px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &-wrapper {
      transform: none !important; // Убираем все трансформации
      flex-wrap: wrap;
      gap: 7px;
    }
  }
}
