@import './_normalize.css'; /* Нормализация стилей */
@import './fonts.scss'; /* Шрифты */
@import '~swiper/swiper-bundle.css';
@import './_visually-hidden.css';

/* Глобальные стили */

html {
  scroll-behavior: smooth; /* Включение плавной прокрутки */
}

body {
  overflow-x: hidden;
  font-family: 'TT Lakes';
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
ul,
h1,
h2,
h3,
figure,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Импорт стилей компонентов */
@import './content';
@import './header';
@import './container';
@import './main.scss';
@import './menu.scss';
@import './service-description';
@import './button-show-all';
@import './swiper';
@import './category-section';
@import './brands';
@import './technologies';
@import './prices';
@import './disclamer';
@import './footer';
@import './burger-menu';
